.Contacts_us,.Map{
	margin-bottom: 15px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.Contacts_title,.Map_title{
	height: 30px;
	line-height: 30px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #999;
}
.Contacts_title span,.Map_title span{
	width: 100px;
	text-align: center;
	background-color: #ffffff;
	border-top: 2px solid #ff0000;
}
.Contacts_title a{
	padding-right: 15px;
}
.Contacts_main,.Map_main{
	padding: 20px;
}