.company,.product{
	margin-bottom: 15px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.introduce,.product_title{
	height: 30px;
	line-height: 30px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #999;
}
.introduce span,.product_title span{
	width: 100px;
	text-align: center;
	background-color: #ffffff;
	border-top: 2px solid #ff0000;
}
.introduce a,.product_title a{
	padding-right: 15px;
}
.introduce_main,.product_new{
	padding: 20px;
}
.company_pic{
	float: left;
    margin: 5px 10px 0 0;
    border: 1px #ddd solid;
}
.company_pic span img{
	vertical-align: middle;
	width: 150px;
	height: 150px;
}
.company_info {
    word-break: break-all;
    word-wrap: break-word;
}
.company_info p{
    line-height: 2em;
    text-indent: 2em;
    white-space: pre-wrap!important;
    word-wrap: break-word!important;
}
.introduce_main h3{
	text-align: center;
}