.picture_list{
	margin-bottom: 15px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.picture_title{
	height: 30px;
	line-height: 30px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #999;
}
.picture_title span{
	width: 100px;
	text-align: center;
	background-color: #ffffff;
	border-top: 2px solid #ff0000;
}
.picture_title a{
	padding-right: 15px;
}
.picture_mian{
	padding: 15px;
}