.qualifications{

	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.qualifications_info{
	height: 30px;
	line-height: 30px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #999;
}
.qualifications_info span{
	width: 100px;
	text-align: center;
	background-color: #ffffff;
	border-top: 2px solid #ff0000;
}
.qualifications_info a{
	padding-right: 15px;
}
.qualifications_main{
	padding: 20px;
}
.qualifications_main p{
	line-height: 50px;
	text-align: center;
}
.cates-hd {
    margin: 10px 5px 0;   
    height: 33px;
    line-height: 33px;
    background: #cdf1ff;
    padding: 0 10px;
}
.cates-hd h3 {
    color: #333;
    font-weight: bold;
    font-size: 14px;
    height: 33px;
	line-height: 33px;
}
.red-mark {
    color: #D10504;
}
.table-responsive{
	margin-top: 15px;
}
.table th{
	border-color: #f0f0f0;
}