h1,h2,h3,h4,h5,h6,p,ul{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
}
.container-fluid{
	padding: 0px;
}
.top p{    
	font-size: 12px;
    margin-bottom: 15px;
    padding-top: 10px;
}
.company_info h2{
	font-weight: bolder;
	margin-bottom: 5px;
}
.connect_us span{
	font-size: 34px;
	height: 64px;
	line-height: 64px;
}
.connect_us img{
	width: 48px;
    height: 48px;
    margin-bottom: 15px;
}
.navgation{
	background-color: #ff0000;
	height: 40px;
}
.navbar-collapse{
	height: 40px;
}
.navbar-nav li,.navbar-nav li a{
	height: 40px;
	line-height: 40px;
}
.nav>li>a{
	padding: 0px 15px;
}
.navgation .container{
	padding: 0px;
}
.nav a{
	color:#ffffff;
}
.web_nav{
	height: 40px;
	line-height: 40px;
}
.f-bold{
	color: #696969;
}
.web_nav .list-inline{
	padding: 5px 0px;	
}
.web_nav .list-inline li{
	background-color: #ff0000;
	height: 30px;
	line-height: 30px;
}
.web_nav .list-inline li a{
	display: block;
	color: #ffffff;
}